<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Lista de usuarios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="button-container">
    <ion-button class="styled-button" (click)="recuperar1()">Recuperar Profesores</ion-button>
    <ion-button class="styled-button" (click)="recuperar2()">Recuperar Estudiantes</ion-button>
  </div>

  <ion-list *ngIf="mostrarUsuarios">
    <ion-item-group>
      <ion-item-divider>
        <ion-label>Profesores</ion-label>
      </ion-item-divider>
      <ion-card *ngFor="let usuario of usuarios">
        <ion-card-header>
          <ion-card-title>{{ usuario.nombre }} {{ usuario.apellido }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>Email: {{ usuario.correo }}</p>
        </ion-card-content>
      </ion-card>
    </ion-item-group>
  </ion-list>

  <ion-list *ngIf="mostrarEstudiantes">
    <ion-item-group>
      <ion-item-divider>
        <ion-label>Estudiantes</ion-label>
      </ion-item-divider>
      <ion-card *ngFor="let estudiante of estudiantes">
        <ion-card-header>
          <ion-card-title>{{ estudiante.nombre }} {{ estudiante.apellido }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>Email: {{ estudiante.correo }}</p>
        </ion-card-content>
      </ion-card>
    </ion-item-group>
  </ion-list>
</ion-content>
