<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Lista de usuarios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="button-container">
    <div class="button-wrapper">
      <ion-button class="styled-button" style="border-radius: 20px;" expand="full" (click)="recuperar1()">Recuperar Usuarios</ion-button>
      <ion-button class="styled-button" expand="full" (click)="recuperar2()">Recuperar Estudiantes</ion-button>
    </div>
  </div>

  <ion-list *ngIf="mostrarUsuarios">
    <ion-item-group>
      <ion-item-divider>
        <ion-label>Usuarios</ion-label>
      </ion-item-divider>
      <ion-card *ngFor="let usuario of usuarios">
        <ion-card-header>
          <ion-card-title>{{ usuario.nombre }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>Email: {{ usuario.email }}</p>
          <p>Teléfono: {{ usuario.telefono }}</p>
        </ion-card-content>
      </ion-card>
    </ion-item-group>
  </ion-list>

  <ion-list *ngIf="mostrarEstudiantes">
    <ion-item-group>
      <ion-item-divider>
        <ion-label>Estudiantes</ion-label>
      </ion-item-divider>
      <ion-card *ngFor="let estudiante of estudiantes">
        <ion-card-header>
          <ion-card-title>{{ estudiante.nombre }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>Email: {{ estudiante.email }}</p>
          <p>Curso: {{ estudiante.curso }}</p>
        </ion-card-content>
      </ion-card>
    </ion-item-group>
  </ion-list>
</ion-content>