.button-container {
    display: flex;
    justify-content: center; /* Centra el contenido */
    padding: 16px; /* Espacio alrededor */
  }
  
  .button-wrapper {
    display: flex;
  }
  

  