<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Asistencia de Estudiantes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-list [inset]="true">
    <ion-item *ngFor="let estudiante of estudiantes">
      <ion-avatar slot="start">
        <img alt="Avatar" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-label>
        <h5>{{ estudiante.nombre }} {{ estudiante.apellido }}</h5>
        <p>Presente</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Resumen de Asistencia</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p><strong>Porcentaje Presente:</strong> {{ porcentajePresente | number:'1.0-2' }}%</p>
      <p><strong>Porcentaje Ausente:</strong> {{ porcentajeAusente | number:'1.0-2' }}%</p>
      <p><strong>Estado Global:</strong> {{ mensajeAsistencia }}</p>
    </ion-card-content>
  </ion-card>

  <div class="ion-padding">
    <ion-button expand="" (click)="guardarAsistencia()">Guardar Asistencia</ion-button>
    <ion-button expand="" color="secondary" (click)="exportarAsistencia()">Descargar Excel</ion-button>
  </div>
</ion-content>
