.estudiante-card {
  margin-bottom: 10px; /* Espaciado entre las tarjetas */
  border-radius: 8px; /* Bordes redondeados */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra para dar profundidad */
}

.estudiante-card h2 {
  margin: 0; /* Elimina el margen para un mejor espaciado */
  font-size: 1.2em; /* Ajusta el tamaño de la fuente */
}

.estudiante-card p {
  margin: 0; /* Elimina el margen */
  font-size: 0.9em; /* Tamaño de fuente más pequeño para el estado */
  color: #666; /* Color de texto más suave */
}
