<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/misclases-p"></ion-back-button>
    </ion-buttons>
    <ion-title>Detalles del Curso</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="crearNuevaClase()" color="primary">
        Nueva Clase
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-title>
      Alumnos Asistentes: {{ contarAsistentes() }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-card *ngFor="let estudiante of estudiantes" class="estudiante-card">
      <ion-card-content>
        <ion-item>
          <ion-label>
            <h2>{{ estudiante.nombre }} {{ estudiante.apellido }}</h2>
            <p>
              <strong>Estado:</strong> {{ estudiante.estado || 'Sin registrar' }}<br>
              <strong>Total De Asistencias:</strong> {{ estudiante.asistencias }}
            </p>
          </ion-label>
          <ion-button (click)="eliminarEstudiante(estudiante.id)" color="danger" fill="outline" slot="end">
            Eliminar
          </ion-button>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/generar-qr" expand="full">
        Generar QR
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button routerLink="/reportes" expand="full">
        Reportes
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
