<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home-a"></ion-back-button>
    </ion-buttons>
    <ion-title>Mis Asignaturas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!-- Aplicando estilos personalizados para reducir el tamaño de las tarjetas -->
  <ion-card class="small-card" color="primary">
    <ion-card-header>
      <ion-card-title>Matemáticas</ion-card-title>
      <ion-card-subtitle>MAT4140-011D</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <ion-card class="small-card" color="secondary">
    <ion-card-header>
      <ion-card-title>Calidad de Software</ion-card-title>
      <ion-card-subtitle>CSY4111-010D</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <ion-card class="small-card" color="success">
    <ion-card-header>
      <ion-card-title>Doctrina Social De La Iglesia</ion-card-title>
      <ion-card-subtitle>OFC-PFC040</ion-card-subtitle>
    </ion-card-header>
  </ion-card>


  <!-- Nuevas asignaturas -->
  <ion-card class="small-card" color="tertiary">
    <ion-card-header>
      <ion-card-title>Algoritmos y Estructuras de Datos</ion-card-title>
      <ion-card-subtitle>CSE2021-001D</ion-card-subtitle>
    </ion-card-header>
  </ion-card>



  <ion-card class="small-card" color="white">
    <ion-card-header>
      <ion-card-title>Redes de Computadores</ion-card-title>
      <ion-card-subtitle>NET4201-011D</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <ion-card class="small-card" color="danger">
    <ion-card-header>
      <ion-card-title>Base de Datos Avanzadas</ion-card-title>
      <ion-card-subtitle>DBS5031-012D</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">mis-asignaturas</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>

