<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Mis Asignaturas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!-- Tarjeta de Matemáticas -->
  <ion-card class="small-card" color="primary">
    <ion-card-header>
      <ion-card-title>Matemáticas</ion-card-title>
      <ion-card-subtitle>MAT4140-011D</ion-card-subtitle>
      <ion-button fill="clear" size="small" slot="end" (click)="verDetalles('MAT4140-011D')">
        <ion-icon slot="icon-only" name="arrow-forward"></ion-icon>
      </ion-button>
    </ion-card-header>
    <ion-button expand="block" color="light" routerLink="matematicas">Ver Curso</ion-button>
  </ion-card>

  <!-- Tarjeta de Calidad de Software -->
  <ion-card class="small-card" color="secondary">
    <ion-card-header>
      <ion-card-title>Calidad de Software</ion-card-title>
      <ion-card-subtitle>CSY4111-010D</ion-card-subtitle>
      <ion-button fill="clear" size="small" slot="end" (click)="verDetalles('CSY4111-010D')">
        <ion-icon slot="icon-only" name="arrow-forward"></ion-icon>
      </ion-button>
    </ion-card-header>
    <ion-button expand="block" color="light" (click)="verDetalles('CSY4111-010D')">Ver Curso</ion-button>
  </ion-card>

  <!-- Tarjeta de Doctrina Social De La Iglesia -->
  <ion-card class="small-card" color="success">
    <ion-card-header>
      <ion-card-title>Doctrina Social De La Iglesia</ion-card-title>
      <ion-card-subtitle>OFC-PFC040</ion-card-subtitle>
      <ion-button fill="clear" size="small" slot="end" (click)="verDetalles('OFC-PFC040')">
        <ion-icon slot="icon-only" name="arrow-forward"></ion-icon>
      </ion-button>
    </ion-card-header>
    <ion-button expand="block" color="light" (click)="verDetalles('OFC-PFC040')">Ver Curso</ion-button>
  </ion-card>

  <!-- Tarjeta de Algoritmos y Estructuras de Datos -->
  <ion-card class="small-card" color="tertiary">
    <ion-card-header>
      <ion-card-title>Algoritmos y Estructuras de Datos</ion-card-title>
      <ion-card-subtitle>CSE2021-001D</ion-card-subtitle>
      <ion-button fill="clear" size="small" slot="end" (click)="verDetalles('CSE2021-001D')">
        <ion-icon slot="icon-only" name="arrow-forward"></ion-icon>
      </ion-button>
    </ion-card-header>
    <ion-button expand="block" color="light" (click)="verDetalles('CSE2021-001D')">Ver Curso</ion-button>
  </ion-card>

  <!-- Tarjeta de Redes de Computadores -->
  <ion-card class="small-card" color="white">
    <ion-card-header>
      <ion-card-title>Redes de Computadores</ion-card-title>
      <ion-card-subtitle>NET4201-011D</ion-card-subtitle>
      <ion-button fill="clear" size="small" slot="end" (click)="verDetalles('NET4201-011D')">
        <ion-icon slot="icon-only" name="arrow-forward"></ion-icon>
      </ion-button>
    </ion-card-header>
    <ion-button expand="block" color="light" (click)="verDetalles('NET4201-011D')">Ver Curso</ion-button>
  </ion-card>

  <!-- Tarjeta de Base de Datos Avanzadas -->
  <ion-card class="small-card" color="danger">
    <ion-card-header>
      <ion-card-title>Base de Datos Avanzadas</ion-card-title>
      <ion-card-subtitle>DBS5031-012D</ion-card-subtitle>
      <ion-button fill="clear" size="small" slot="end" (click)="verDetalles('DBS5031-012D')">
        <ion-icon slot="icon-only" name="arrow-forward"></ion-icon>
      </ion-button>
    </ion-card-header>
    <ion-button expand="block" color="light" (click)="verDetalles('DBS5031-012D')">Ver Curso</ion-button>
  </ion-card>

</ion-content>
