<ion-header>
  <ion-toolbar>
    <ion-title>Curso de Aplicaciones Móviles</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Desarrollo de Aplicaciones Móviles</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Este curso cubre la creación de aplicaciones móviles utilizando tecnologías como Ionic y Angular.</p>
    </ion-card-content>
  </ion-card>

  <!-- Agregar más contenido relacionado con el curso de aplicaciones móviles -->
</ion-content>
