<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home-a"></ion-back-button>
    </ion-buttons>
    <ion-title>Escanear QR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-padding">
    <ion-button (click)="startScan()" [disabled]="!isSupported">
      Escanear Código QR
    </ion-button>

    <div *ngIf="scannedQR">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Resultado del QR Escaneado</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          {{ scannedQR }}
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>
