<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Hola {{usuario}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div style="padding: 15px;">
    <ion-list [inset]="true">
      <ion-item button routerLink="/listar">
        <ion-icon color="tertiary" slot="start" name="list-circle" size="large"></ion-icon>
        <ion-label>Asistencias</ion-label>
      </ion-item>
      <ion-item button routerLink="/misclases-p">
        <ion-icon color="warning" slot="start" name="list-circle" size="large"></ion-icon>
        <ion-label>Mis Clases</ion-label>
      </ion-item>
      <!-- Botón para cerrar sesión -->
      <ion-item routerLink="/login">
        <ion-icon color="medium" slot="start" name="log-out-outline" size="large"></ion-icon>
        <ion-label>Cerrar Sesión</ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
