<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="text-align: center;">Registrar Cuenta Duoc</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Contenedor para centrar el logo -->
  <div style="display: flex; align-items: center; justify-content: center; margin-top: 50px;">
    <img src="../../../assets/img/Icon.png" alt="Logo" style="height: 100px; width: 100px;">
  </div>
  
  <!-- Contenedor principal con márgenes para separar del toolbar -->
  <div style="margin-top: 30px; padding: 25px; display: flex; align-items: center; justify-content: center; width: 100%;">
    <ion-list style="width: 100%; max-width: 400px;">
      <ion-item>
        <ion-input [(ngModel)]="nuevo_item.nombre" label="Nombre" placeholder="Ingrese nombre:"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input [(ngModel)]="nuevo_item.apellido" label="Apellido" placeholder="Ingrese apellido:"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input [(ngModel)]="nuevo_item.correo" label="Correo" placeholder="Ingrese Correo:"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input [(ngModel)]="nuevo_item.clave" label="Clave" type="password" placeholder="Ingrese clave:"></ion-input>
      </ion-item>
      <ion-button expand="block" (click)="grabar()" style="margin-top: 25px;" color="warning">Finalizar Registro</ion-button>
      <ion-button expand="block" (click)="volver()" style="margin-top: 25px;" color="warning">Regresar</ion-button>
    </ion-list>
  </div>
</ion-content>
