<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/matematicas"></ion-back-button>
    </ion-buttons>
    <ion-title>Clase de Matemáticas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-list>
    <ion-item *ngFor="let clase of clases">
      <ion-label>
        <h2>{{ clase.descripcion }}</h2>
        <p><strong>Fecha:</strong> {{ clase.fecha }}</p>
        <p><strong>Asistentes:</strong> {{ clase.asistentes.length }}</p>
        <ion-list>
          <ion-item *ngFor="let estudiante of clase.asistentes">
            {{ estudiante.nombre }} {{ estudiante.apellido }}
          </ion-item>
        </ion-list>
      </ion-label>
    </ion-item>
  </ion-list>
  
  <!-- Aquí van otras secciones, como el botón de guardar asistencia -->
  <ion-button expand="full" (click)="exportarAsistencia()">Descargar</ion-button>
</ion-content>
